:root {
    --color-text-primary: #333333;
    --color-text-secondary: #666666;
    --color-main-bg: linear-gradient(to bottom, #E3F2FD, #F4F9FD);
    --color-bg: rgba(74, 144, 226, 0.15);
    --color-primary: #4A90E2;
    --color-error: #E74C3C;
    --color-warning: #E67E22;
    --color-disabled: #B0C4DE;
    --finish-color: #fff;
  }
